@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  background-color: hsl(210, 46%, 95%);
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.containerbox {
  background-color: white;
  width: 327px;
  border-radius: 1.5rem;
}
.img {
  width: 327px;
  height: 210px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
h4 {
  color: hsl(217, 19%, 35%);
  padding: 0 1.8rem;
}

p {
  padding: 0 1.8rem;
  color: hsl(214, 17%, 51%);
  font-size: 15px;
}
.icons {
  padding: 0.5rem 0;
  background-color: hsl(217, 19%, 35%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.fab {
  font-size: 20px;
  color: white;
}
.share {
  padding-right: 0;
  font-size: 14px;
  color: hsl(212, 23%, 69%);
}

.fas {
  background-color: hsl(214, 17%, 51%);
  padding: 8px;
  color: white;
  border-radius: 100%;
  margin-left: 30px;
  margin-right: 1rem;
}

@media (min-width: 1024px){
.containerbox{
  display: flex;
  width: 730px;
  height: 280px;
}
.article{
  display: block;
}
.img{
  height: auto;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.icons{
  background-color: white;
}
.share{
  color: white;
  background-image: url('../img/avatar-michelle.png');
}
h4, p {
  padding:10px 0 0 30px;
}
}
